#aboutme {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutme {
    span {
        font-family: cursive;
        font-size: xx-large;
        display: block;
    }
    a {
        text-decoration: none;
    }
}