#contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        text-decoration: none;
        color: black;
    }
    #icon-box > *{
        display: flex;
        align-items: center;
        * {
            padding: 5px;
            margin: 0;
        }
        p {
            font-size: larger;
        }
    }
}

form {
    width: 80%;
    margin: auto;
}