@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

#frontpage {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    h1 {
        text-align: center;
        span {
            color: rgb(85, 247, 85);
            font-weight: bolder;
            text-shadow: 4px 4px 5px rgb(0, 0, 0);
            transform: skew(10deg, 10deg);
        }
    }
    button {
        border: 2px solid rgb(85, 247, 85);
        background-color: transparent;
        box-shadow: 4px 4px 5px black;
        a{
            color: rgb(85, 247, 85);
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
        }
    }
    button:active {
        box-shadow: none;
        transform: translate(4px,4px);
    }
}
