.container {
    scrollbar-width: none;
    overflow-y: auto;
    // #scrollContainer {
    //     overflow-y: auto;
    //     scroll-snap-type: y mandatory;
    //     height: 100vh;
    // }
}
.container::-webkit-scrollbar {
    display: none;
}
.navbar {
    // background-color: rgba($color: #000000, $alpha: 0);
    background-color: #171717;
    .nav-item .nav-link {
        color: rgb(255, 255, 255) !important;
        padding: 0;
        margin: 10px;
        font-family: cursive;
    }
}
