#projects {
    height: 100%;
}
.project {
    font-family: cursive;
    padding: 0 10px;
    .card {
        border: none;
        box-shadow: 0px 0px 10px black;
        color: #000000;
        ul {
            list-style-type: disc;
        }
        a {
            color: #323ff5;
            text-decoration: none;
        }
        a:hover {
            color: #14274E;
        }
    }
}

.overlay {
    background-color: rgba($color: #b13c3c, $alpha: 0.4);
}