#skills {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skill-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    svg {
        font-size: 6em;
    }
}

@media only screen and (max-width: 576px) {
    .skill-group {
        svg {
            font-size: 3em;
        }
    }
}