.messageBox, .otherMessageBox {
    main {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .triangle {
        display: flex;
        div  {
            height: 0px;
            width: 0px;
        }
    }
}
.messageBox{
    main {
        padding: 20px 0;
        border-bottom-left-radius: 10px;
        background-color: #EDEDED;
    }
    .triangle {
        display: flex;
        justify-content: flex-end;
        div{
            border-top: 50px solid #EDEDED;
            border-left: 50px solid transparent;
        }
    }
}

.otherMessageBox {
    margin-bottom: 30px;
    color: white;
    main {
        padding: 10px 0;
        border-bottom-right-radius: 10px;
        background-color: #444444;
    }
    .triangle {
        justify-content: start;
        div{
            border-top: 50px solid #444444;
            border-right: 50px solid transparent;
        }
    }
    p {
        padding: 0 20px;
        font-family: cursive;
        font-size: xx-large;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 576px) {
    .messageBox, .otherMessageBox {
        main {
            p, span {
                font-size: 16px;
            }
        }
    }
}